<div class="banner_creative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="home_content_section">
                    <h1 data-aos="slide-up" data-aos-duration="1500">Next generation online communication plafform</h1>
                    <p data-aos="slide-up" data-aos-duration="2000">A holistic solution for Pharmaceuticals that helps
                        you to reach and engage doctors and medical
                        practitioners to conduct CME, ISPs, Virtual Advisory Boards and much more</p>
                    <button data-aos="slide-up" data-aos-duration="2000">Get Started</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="home_img_section" data-aos="slide-up" data-aos-duration="2000">
                    <img src="../../../assets/images/banner.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="prodcuts_heading" data-aos="fade-down" data-aos-duration="2500">
                    <span>Exclusive Products</span>
                    <h2>We Provide Awesome Products</h2>
                    <p>Next Generation Online Communication Platforms that provides you
                        interactive and engaging experience</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product_img_section" data-aos="fade-up" data-aos-duration="3000">
                    <img src="../../../assets/images/Product_img.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product_content_section">
                    <ul>
                        <li data-aos="fade-up" data-aos-duration="3000">
                            <div class="product_name">
                                <span><i class="fa fa-clone"></i></span>
                                <h3>Event Online</h3>
                            </div>
                            <p>Fully managed and feature-rich premium webcasting solution. Fully managed and
                                feature-rich premium webcasting solution.</p>
                        </li>

                        <li data-aos="fade-up" data-aos-duration="3500">
                            <div class="product_name">
                                <span><i class="fa fa-delicious"></i></span>
                                <h3>Auto Cast</h3>
                            </div>
                            <p>Fully managed and feature-rich premium webcasting solution. Fully managed and
                                feature-rich premium webcasting solution.</p>
                        </li>

                        <li data-aos="fade-up" data-aos-duration="4000">
                            <div class="product_name">
                                <span><i class="fa fa-home"></i></span>
                                <h3>Concall Pro</h3>
                            </div>
                            <p>Fully managed and feature-rich premium webcasting solution. Fully managed and
                                feature-rich premium webcasting solution.</p>
                        </li>
                    </ul>
                    <button data-aos="fade-up" data-aos-duration="4500">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="compay_application">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="application_headings" data-aos="fade-down" data-aos-duration="3000">
                    <h2>Applications</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="applicaiton_cards" data-aos="fade-right" data-aos-duration="2500">
                    <div class="applicaton_icons">
                        <i class="fa fa-home"></i>
                        <div class="box_circle"></div>
                    </div>
                    <h4>CME</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="applicaiton_cards" data-aos="fade-right" data-aos-duration="3000">
                    <div class="applicaton_icons">
                        <i class="fa fa-home"></i>
                        <div class="box_circle"></div>
                    </div>
                    <h4>Town Hall Meeting</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="applicaiton_cards" data-aos="fade-right" data-aos-duration="3500">
                    <div class="applicaton_icons">
                        <i class="fa fa-home"></i>
                        <div class="box_circle"></div>
                    </div>
                    <h4>Meeting and Conference</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="applicaiton_cards" data-aos="fade-left" data-aos-duration="2500">
                    <div class="applicaton_icons">
                        <i class="fa fa-check-circle"></i>
                        <div class="box_circle"></div>
                    </div>
                    <h4>Product Launch</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="applicaiton_cards" data-aos="fade-left" data-aos-duration="3000">
                    <div class="applicaton_icons">
                        <i class="fa fa-money"></i>
                        <div class="box_circle"></div>
                    </div>
                    <h4>Training</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="applicaiton_cards" data-aos="fade-left" data-aos-duration="3500">
                    <div class="applicaton_icons">
                        <i class="fa fa-check"></i>
                        <div class="box_circle"></div>
                    </div>
                    <h4>Partner Engagement</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="view_all_buttons" data-aos="fade-up" data-aos-duration="2500">
                    <button>View All</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial_sections">
    <div class="testimonial_cricel_section"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="testimonial_heading" data-aos="fade-down" data-aos-duration="3000">
                    <span>Testimonial</span>
                    <h2>What Our Client Say</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="testimonial_slider" data-aos="fade-up" data-aos-duration="3000">
                    <span class="fa fa-quote-left"></span>
                    <div id="myCarousel" class="slider_section_testimonail carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu
                                    sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel,
                                    semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius
                                    nibh non aliquet.</p>
                                <p class="overview"><strong>Paula Wilson</strong>, Media Analyst</p>
                            </div>
                            <div class="item carousel-item">
                                <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque
                                    eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra
                                    sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh,
                                    facilisis gravida odio.</p>
                                <p class="overview"><strong>Antonio Moreno</strong>, Web Developer</p>
                            </div>
                            <div class="item carousel-item">
                                <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id
                                    lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
                                    tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa.
                                    Etiam hendrerit dolor eget rutrum.</p>
                                <p class="overview"><strong>Michael Holz</strong>, Seo Analyst</p>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>