<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="footer-logo">
                    <img src="../../../../assets/images/logo.png" alt="">
                    <p>We believe in delivering simple, secure and cost-effective online communication solutions that
                        help businesses boost their ROI and drive organizational reach, customer engagement, lead
                        generation.</p>
                        <ul>
                            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="footer_contact_us">
                    <h2>Contact Us</h2>
                    <ul>
                        <li>
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <p>605, B-Wing, Raheja Plaza, L.B.S Marg, Ghatkopar (W), Mumbai - 400086</p>
                        </li>

                        <li>
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                            <p>022-25000098 / 25000097</p>
                        </li>

                        <li>
                            <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                            <p>support@streamonindia.com</p>
                        </li>

                        <li>
                            <span><i class="fa fa-globe" aria-hidden="true"></i></span>
                            <p>streamonindia.com</p>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer_menus">
                    <h2>Menus</h2>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Prodcuts</a></li>
                        <li><a href="">Solutions</a></li>
                        <li><a href="">Case Study</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Resources</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="sub_footer_section">
    <p>© Copyright StreamOn Technologies 2020. All Rights Reserved.</p>
</div>